<h1>Listing convertions</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Body</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @convertions.each do |convertion| %>
  <tr>
    <td><%= convertion.title %></td>
    <td><%= convertion.body %></td>
    <td><%= link_to 'Show', convertion %></td>
    <td><%= link_to 'Edit', edit_convertion_path(convertion) %></td>
    <td><%= link_to 'Destroy', convertion, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Convertion', new_convertion_path %>
